@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

$mainColor: #064b68;
$seconderyColor: rgb(170, 201, 211);
$white: #ffffff;
$mainFont: "Lato", sans-serif;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-transform: capitalize;
}

body {
  font-family: $mainFont !important;
}

header {
  .navbar {
    background-color: $mainColor;
    a {
      h1 {
        display: inline-block;
        font-size: 25px;
        margin: 0;
        vertical-align: middle;
      }
      img {
        width: 22px;
        margin-right: 5px;
      }
    }
    .navbar-collapse {
      flex-grow: 0 !important;
      a {
        img {
          border-radius: 20px;
          margin-left: 8px;
        }
      }
      .dropdown-menu {
        background-color: $mainColor;
        a {
          text-decoration: none;
          color: $seconderyColor;
          display: inline-block;
          button,
          i {
            float: right;
          }
          button {
            padding: 4px;
            border: none;
            background-color: $white;
            border-radius: 5px;
            font-size: small;
          }
        }
        a:hover,
        .dropdown-item.active {
          background-color: $seconderyColor;
          color: $mainColor;
        }
      }
    }
  }
}

@mixin cover {
  background-image: url(../../Images/background.png);
  background-size: cover;
  height: 675px;
  padding-top: 100px;
  color: $white;
}
