@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
#profileHeader {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 10px;
  height: 100px;
  background-image: none;
  background-color: #064B68;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#profileHeader #profile {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-image: url(../../../public/Images/logo.png);
  background-size: contain;
  background-repeat: round;
}

#advisor a {
  text-decoration: none;
  color: #064b68;
  font-size: 25px;
}

#advisor a i {
  margin-right: 20px;
}

#advisor ul {
  margin: 50px 0;
}

#advisor ul li {
  list-style-type: none;
  background-color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
}

#advisor ul li h6 {
  color: #064b68;
  font-size: 25px;
}

#advisor ul li p {
  line-height: 0.5;
  margin-left: 10px;
}

#advisor ul li button {
  position: relative;
  top: -90px;
  float: right;
  margin: 10px;
  background-color: #ffffff;
  border: none;
  color: #064b68;
  font-size: 20px;
}

#advisor, #add, #allCourses, #addNewCourses, #allStudent, #addStudents {
  margin-top: 50px;
  padding: 100px 0 100px 0;
  background-color: rgba(233, 231, 231, 0.842);
}

#add a, #allCourses a, #addNewCourses a, #allStudent a, #addStudents a {
  text-decoration: none;
  color: #064b68;
  font-size: 25px;
}

#add a i, #allCourses a i, #addNewCourses a i, #allStudent a i, #addStudents a i {
  margin-right: 20px;
}

#add form, #add #selectCourse, #allCourses form, #allCourses #selectCourse, #addNewCourses form, #addNewCourses #selectCourse, #allStudent form, #allStudent #selectCourse, #addStudents form, #addStudents #selectCourse {
  margin: 30px 0 0 40px;
  padding: 20px 40px 30px 40px;
  background-color: #ffffff;
}

#add form label, #add #selectCourse label, #allCourses form label, #allCourses #selectCourse label, #addNewCourses form label, #addNewCourses #selectCourse label, #allStudent form label, #allStudent #selectCourse label, #addStudents form label, #addStudents #selectCourse label {
  font-size: 20px;
  color: #064b68;
}

#add form input, #add form select, #add #selectCourse input, #add #selectCourse select, #allCourses form input, #allCourses form select, #allCourses #selectCourse input, #allCourses #selectCourse select, #addNewCourses form input, #addNewCourses form select, #addNewCourses #selectCourse input, #addNewCourses #selectCourse select, #allStudent form input, #allStudent form select, #allStudent #selectCourse input, #allStudent #selectCourse select, #addStudents form input, #addStudents form select, #addStudents #selectCourse input, #addStudents #selectCourse select {
  display: block;
  margin: 5px 0 10px 0;
  border-radius: 30px;
  width: 100%;
  padding: 10px;
  border: 1px solid #064b68;
  background-color: rgba(233, 231, 231, 0.842);
}

#add form input[type=date], #add #selectCourse input[type=date], #allCourses form input[type=date], #allCourses #selectCourse input[type=date], #addNewCourses form input[type=date], #addNewCourses #selectCourse input[type=date], #allStudent form input[type=date], #allStudent #selectCourse input[type=date], #addStudents form input[type=date], #addStudents #selectCourse input[type=date] {
  padding: 10px 20px;
}

#add form button, #add #selectCourse button, #allCourses form button, #allCourses #selectCourse button, #addNewCourses form button, #addNewCourses #selectCourse button, #allStudent form button, #allStudent #selectCourse button, #addStudents form button, #addStudents #selectCourse button {
  background-color: #064b68;
  color: #ffffff;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  margin: 20px 0;
  font-size: 25px;
}

#allCourses ul, #allStudent ul {
  margin: 50px 10px;
}

#allCourses ul li, #allStudent ul li {
  list-style-type: none;
  background-color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
}

#allCourses ul li h6, #allStudent ul li h6 {
  color: #064b68;
  font-size: 25px;
  margin-bottom: 20px;
}

#allCourses ul li p, #allStudent ul li p {
  line-height: 0.5;
  margin-left: 10px;
}

#allCourses ul li button, #allStudent ul li button {
  position: relative;
  top: -90px;
  float: right;
  margin: 10px;
  background-color: #ffffff;
  border: none;
  color: #064b68;
  font-size: 20px;
}

#student a {
  text-decoration: none;
  color: #064b68;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
}
/*# sourceMappingURL=component.css.map */