@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

$mainColor: #064b68;
$seconderyColor: rgb(170, 201, 211);
$white: #ffffff;

@mixin center {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  @mixin h3 {
    color: $mainColor;
    font-weight: 700;
    margin-bottom: 30px;
  }

#profileHeader {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 10px;
  height: 100px;
  background-image: none;
  background-color: #064B68;
  z-index: 2;
  @include center;
  flex-direction: column;
  transition: 0.4s;
  #profile {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-image: url(../../../public/Images/logo.png);
    background-size: contain;
    background-repeat: round;
  }
}

#advisor{
  a{
    text-decoration: none;
    color: $mainColor;
    font-size: 25px;
    i{
      margin-right: 20px;
    }
  }
  ul{
    margin: 50px 0;
    li{
      list-style-type: none;
      background-color: white;
      padding: 10px 20px;
      margin-bottom: 20px;
      h6{
        color: $mainColor;
        font-size: 25px;
      }
      p{
        line-height: 0.5;
        margin-left: 10px;
      }
      button{
        position: relative;
        top: -90px;
        float: right;
        margin: 10px;
        background-color: $white;
        border: none;
        color: $mainColor;
        font-size: 20px;
      }
    }
  }
}
#advisor, #add, #allCourses, #addNewCourses, #allStudent, #addStudents{
  margin-top: 50px;
  padding: 100px 0 100px 0;
  background-color: rgba(233, 231, 231, 0.842);
}

#add, #allCourses, #addNewCourses, #allStudent, #addStudents{
  a{
    text-decoration: none;
    color: $mainColor;
    font-size: 25px;
    i{
      margin-right: 20px;
    }
  }
  form, #selectCourse{
    margin: 30px 0 0 40px;
    padding: 20px 40px 30px 40px;
    background-color: $white;
    label{
      font-size: 20px;
      color: $mainColor;
    }
    input, select{
      display: block;
      margin: 5px 0 10px 0;
      border-radius: 30px;
      width: 100%;
      padding: 10px;
      border: 1px solid $mainColor;
      background-color: rgba(233, 231, 231, 0.842);
    }
    input[type=date]{
      padding: 10px 20px;
    }
    button{
      background-color: $mainColor;
      color: $white;
      width: 100%;
      padding: 10px 20px;
      border: none;
      border-radius: 40px;
      margin: 20px 0;
      font-size: 25px;
    }
  }
}

#allCourses, #allStudent{
  ul{
    margin: 50px 10px;
    li{
      list-style-type: none;
      background-color: white;
      padding: 10px 20px;
      margin-bottom: 20px;
      h6{
        color: $mainColor;
        font-size: 25px;
        margin-bottom: 20px;
      }
      p{
        line-height: 0.5;
        margin-left: 10px;
      }
      button{
        position: relative;
        top: -90px;
        float: right;
        margin: 10px;
        background-color: $white;
        border: none;
        color: $mainColor;
        font-size: 20px;
      }
    }
  }
}
#student{
  a{
    text-decoration: none;
    color: $mainColor;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 700;
  }
}